* {
  box-sizing: border-box;
}

.wrapper{
  height: 100%;
  width: 100%;
}

.header{
  height: 50px;
  width: 100%;
  padding: 5px 20px 0 20px;
  background: linear-gradient(-135deg, #E4A972, #9941D8) fixed;
  color: white;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  position: fixed;
  filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.6));
  margin-top: 0;
  &__title{
    font-size: 30px;
    font-family: cursive;
    .logo{
      text-decoration: none;
      color: white;
    }
  }
  &__right{
    font-family: cursive;
    width: 280px;
    justify-content: space-between;
    display: flex;
    margin-right: 50px;
    font-size: 18px;
    padding-top: 5px;
    &__regist{
      font-weight: bold;
      color:white;
      border-radius: 20px;
      color: blue;
    }
    &__logout a{
      font-weight: bold;
      text-decoration: none;
      background: skyblue;
      color:white;
      padding:5px 10px;
      border-radius: 20px;
      font-family: 'Avenir','Arial';
      margin-bottom: 10px;
    }
  }
}
.logout:hover {
  opacity: 0.5;
  text-decoration: none;
}


.scene{
  background-image: url("IMG_1035.jpeg");
  background-attachment: fixed;
  background-color:rgba(255,255,255,0.5);
  background-blend-mode:lighten;
  background-size: cover;
  padding-top: 80px;
  height: 100vh;
  width: 100vw;
  overflow: scroll;
  &__lists{
    margin: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    &__list{
      text-align: center;
      height: 450px;
      width: 250px;
      position: relative;
      margin-right: 70px;
      margin-bottom: 30px;
      filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.6));
      &__img{
        background-size: cover;
        height: 250px;
        width: 250px;
        border: outset 10px #900;
      }
      &__info{
        background-color: whitesmoke;
        height: 120px;
        width: 250px;
        position: absolute;
        border: double 5px black;
        &__text{
          font-size: 15px;
        }
        &__area{
          font-size: 12px;
        }
        &__date{
          font-size: 8px;
          padding: 5px 0 5px 0;
        }
        &__like{
          font-size: 10px;
        }
        &__user{
          margin-top: 20px;
        }
      }
    }
  }
  &__icon a{
    background-color: dodgerblue;
    height: 50px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    font-size: 40px;
    color: white;
    border: 1px solid;
    border-radius: 10px;
  }
}
.icon:hover{
  opacity: 0.5;
  text-decoration: none;
}
.image{
  height: 230px;
  width: 230px;
}
.btn{
  text-decoration: none;
  display: inline-block;
  padding: 0.5em 1em;
  background: #668ad8;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
  margin: 5px;
}
.btn:active {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  border-bottom: none;
}
.footer{
  background-color: black;
  width: 100%;
  height: 30px;
  font-size: 5px;
  color: white;
  position: fixed;
  bottom: 0;
  text-align: center;
}


.alert{
  background:#FFEBE8;
  text-align: center;
  padding:12px; 
  font-weight:bold;
  width: 400px;
  margin: 10px auto;
}

