.container{
  height: 100vh;
  width: 100vw;
  background-color: white;
  text-align: center;
  font-size: 30px;
}

input{
  display: block;
  height: 50px;
  margin:30px auto;
}
.img{
  width: 60%;
}
.text{
  width: 60%;
  height: 50px;
}
.area{
  width: 60%;
  height: 50px;
  margin: 30px;
  margin: 0 auto;
}
.date{
  width: 60%;
  height: 50px;
}