.contentsrow{
  height: 100vh;
  width: 100vw;
  text-align: center;
  &__success{
    height: 50%;

  }
  &__submit{
    padding: 5px;
    width: 300px;
    margin: 0 auto;
    &__title{
      padding: 0.5em;
      color: #010101;
      background: #eaf3ff;
      border-bottom: solid 3px #516ab6;
    }
    &__area{
      padding: 0.5em;
      color: #010101;
      background: #eaf3ff;
      border-bottom: solid 3px #516ab6;
    }
    &__date{
      padding: 0.5em;
      color: #010101;
      background: #eaf3ff;
      border-bottom: solid 3px #516ab6;
    }
    a{
      display: inline-block;
      text-decoration: none;
      background: #87befd;
      color: #FFF;
      width: 120px;
      height: 120px;
      line-height: 120px;
      border-radius: 50%;
      text-align: center;
      overflow: hidden;
      transition: .4s;
    }
  }
}
.image{
  height: 300px;
  width: 300px;
  border: outset 10px #900;
  }

